<header
  class="sticky top-0 w-full z-50 bg-slate-950/80 backdrop-blur-xl shadow-2xl shadow-black/40"
>
  <div class="flex justify-between items-center px-12 py-8 w-full max-w-screen-2xl mx-auto">
    <div class="text-2xl font-serif italic tracking-widest text-primary uppercase">Tic Tac Toe</div>
    <nav class="hidden md:flex items-center space-x-12">
      <a
        class="border-b-2 border-primary/60 pb-1 text-[10px] tracking-[0.2em] uppercase transition-colors duration-300 text-white"
        href="#"
        >Play</a
      >
    </nav>
    <div class="flex items-center space-x-6 text-primary">
      <button class="active:scale-95 transition-transform duration-200">
        <span class="material-symbols-outlined" data-icon="history">history</span>
      </button>
      <button class="active:scale-95 transition-transform duration-200">
        <span class="material-symbols-outlined" data-icon="settings">settings</span>
      </button>
    </div>
  </div>
</header>
