<header
  class="sticky top-0 w-full z-50 bg-slate-950/80 backdrop-blur-xl shadow-2xl shadow-black/40"
>
  <div class="flex justify-between items-center px-12 py-8 w-full max-w-screen-2xl mx-auto">
    <div class="text-2xl font-serif italic tracking-widest text-primary uppercase" style="">
      Tic Tac Toe
    </div>
    <nav class="hidden md:flex items-center space-x-12">
      <a
        class="border-b-2 border-primary/60 pb-1 text-[10px] tracking-[0.2em] uppercase transition-colors duration-300 text-white"
        href="#"
        style=""
        >Play</a
      >
      <a
        class="font-medium tracking-widest uppercase text-[10px] hover:text-primary transition-colors duration-300 text-slate-100"
        href="#"
        style=""
        >Archive</a
      >
      <a
        class="font-medium tracking-widest uppercase text-[10px] hover:text-primary transition-colors duration-300 text-slate-100"
        href="#"
        style=""
        >Etiquette</a
      >
    </nav>
    <div class="flex items-center space-x-6 text-primary">
      <button class="active:scale-95 transition-transform duration-200" style="">
        <span class="material-symbols-outlined" data-icon="history" style="">history</span>
      </button>
      <button class="active:scale-95 transition-transform duration-200" style="">
        <span class="material-symbols-outlined" data-icon="settings" style="">settings</span>
      </button>
    </div>
  </div>
</header>
