<div
  class="fixed inset-0 z-[100] flex items-center justify-center bg-background/70 backdrop-blur-md hidden"
>
  <div
    class="bg-slate-900/60 p-20 rounded-lg text-center border border-primary/20 shadow-2xl backdrop-blur-xl"
  >
    <p class="text-[10px] tracking-[0.6em] uppercase text-primary mb-6 font-bold" style="">
      Match Concluded
    </p>
    <h2 class="font-headline text-7xl text-white mb-10" style="">X Triumphs</h2>
    <button
      class="bg-primary text-on-primary px-10 py-4 rounded-full font-label text-xs tracking-widest uppercase hover:scale-105 active:scale-95 transition-all font-bold"
      style=""
    >
      New Encounter
    </button>
  </div>
</div>
