<div class="group relative border-b border-white/20 transition-colors duration-500 pb-2 mb-8">
  <div class="flex items-center justify-between">
    <div class="flex items-center space-x-4 w-full">
      <span class="font-headline text-2xl marker-gradient-x select-none w-8" style="">{{
        symbol()
      }}</span>
      <input
        class="bg-transparent border-none p-0 w-full text-xs tracking-[0.25em] uppercase font-semibold text-primary focus:ring-0 focus:outline-none placeholder:text-primary/30"
        spellcheck="false"
        type="text"
        value="{{ name() }}"
      />
    </div>
    <!-- <span class="font-headline text-2xl text-primary ml-4" style="">02</span> -->
  </div>
  <!-- <div class="absolute bottom-0 left-0 w-full h-[1px] bg-primary/30"></div> -->
</div>
